.navigationbar-container {
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #0088c9;
  color:black;
}
.navigation-logo {
  cursor: pointer;
  text-decoration: none;
}
.navigation-logo > img{
  height:3rem;
}
.navigation-container{
  margin-left: auto;
  text-decoration: none;
}
.navigation-link{
  margin:0 1rem;
  background-color:#005692;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 1px 5px white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
}
.navigation-link:hover{
  transition: all 0.2s ease-in-out;
  background-color:#97d2fd;
  color:black  !important;
  font-size: 1.4rem;
  
}
.navigation-link:active{
  font-size: 1.4rem;
}
.navigation-item{
  font-size:1.2em;
  font-weight:bold;
}
.shopping-cart-image {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.shopping-cart-count {
  font-size: 1.3rem;
  color: black;
}
#collasible-nav-dropdown::after{
  display:none;
}